.MyModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.MyModal._active {
  opacity: 1;
  visibility: visible;
}

.MyModalContent {
  padding: 25px;
  min-width: 250px;
  background-color: #fff;
  border-radius: 15px;
}